<div class="m-2">
    <div class="grid">
        <div class="col">
            <div class="dash-card">
                Rooms
            </div>
        </div>
        <div class="col">
            <div class="dash-card">
                Customers
            </div>
        </div>
        <div class="col">
            <div class="dash-card">
                Payments
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="col">
            <div class="dash-card">1</div>
        </div>
        <div class="col">
            <div class="dash-card">2</div>
        </div>
    </div>
</div>