.dash-card{
    // text-align: center;
    padding: 1rem; /* Equivalent to p-3 */
    border-radius: 0.25rem; /* Equivalent to border-round-sm */
    font-weight: bold; /* Equivalent to font-bold */
    background-color: #eeeeee;
    height: 200px
}