body {
    margin: 0px;
}

.p-menubar  {
  display: flex;
  align-items: center;
  background: #bddcff !important;
  border: 1px solid var(--p-menubar-border-color);
  border-radius: 0 !important;
    
  color: #ffffff;
  padding: var(--p-menubar-padding);
  gap: var(--p-menubar-gap);
}

.p-datatable-header {
  padding: 0 !important;
}